.c-body{
  position: relative;
  z-index: z-index(capa1);
  display: grid;
  min-height: 100vh;
  grid-template-areas:
              "header"
              "main"
              "footer";
  grid-template-rows: minmax(min-content, max-content) 1fr 10rem;
  @include mq(mdl){
    grid-template-rows: minmax(min-content, max-content) 1fr 6rem;
  }
}

.c-header{
  grid-area: header;
  max-width: $max-width;
  // border: 1px solid red;
}
.c-main{
  grid-area: main;
  max-width: $max-width;
  margin: 0;
  @include mq(lg){
    margin: auto;
  }
  // background-color: color(secondary);
  // border: 3px solid green;
  // padding: 0 5rem;
}

.c-footer{
  grid-area: footer;
  max-width: $max-width;
  // border: 1px solid yellow;
}
