.c-contacto{
  width: 95%;
  max-width: 600px;
  margin: 1rem auto;
  border: 1px solid color(secondary);
  padding-bottom: 1rem;
  @include mq(md){
    margin: 2rem auto;
  }
  @include mq(mdl){
    margin-top: 1rem;
  }
  @include mq(lgm){
    // margin: 0 auto;
    margin-top: .5rem;
    max-width: 800px;
  }
  &-header{
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    font-family: $secondary-font;
    & h1{
      @include titulos;
      font-weight: 500;
      font-family: $primary-font;
    }
    & p{
      display: block;
      margin: 1rem 0;
      text-transform: initial;
    }
  }
  &-form{
    padding: .5rem 1rem;
  }
}

.c-form{
  width: 100%;
  margin: auto;
  max-width: 600px;
  // border: 1px solid green;
  &-item{
    width: 100%;
  }
  & input, textarea{
    width: 100%;
    border: transparent;
    border-bottom: 3px solid black;
    padding: 1rem .5rem;
    font-family: $secondary-font;
  }
  & textarea{
    height: 20vh;
    min-height: 7rem;
  }
  &-btn{
    @include boton-enviar;
    margin-top: 1rem;
    background-color: color(secondary);
    &:hover{
      color: white;
      background-color: black;
    }
  }
}






// Modal errores

.modal-errores{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: z-index(capa10);
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  &-content{
    width: 95%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    background-color: white;
    & h3{
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: color(secondary);
        margin: 10px 0 15px;
      }
    }
    & p{
      color: color(text);
      letter-spacing: 2px;
      &::before{
        content: "\02715";
        display: inline-block;
        position: relative;
        top: 0;
        margin-right: .5rem;
        color: color(alert);
      }
    }
  }
}

#btnClose{
  @include boton-cerrar;
  margin-top: .5rem;
  float: right;
}
