.c-footer{
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas:
                "up"
                "sociales"
                "right"
                "creditos";
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  @include mq(mdl){
    grid-template-areas:
                  "right sociales up"
                  " . creditos . ";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
  &-sociales i{
    font-size: 1.7rem;
    padding: 0 1rem;
    color: color(text);
    @include mq(mdl){
      font-size: 2rem;
      padding: 1rem 1rem 0;
    }
  }
  &-right{
    color: color(text);
    align-self: end;
    @include mq(mdl){
      align-self: center;
    }
  }
  &-creditos{
    color: color(text);
    align-self: end;
    padding-bottom: .5rem;
    & p{
      font-size: .9rem;
      & a{
        font-size: .9rem;
        color: #249edb;
        &:hover{
          color: rgba(36, 158, 219, 0.719);
        }
      }
    }
  }
}

#up{
  grid-area: up;
  color: color(text);
  font-size: 2.5rem;
  // border: 1px solid red;
  cursor: pointer;
  @include mq(mdl){
    font-size: 3rem;
    justify-self: end;
  }
}

.c-footer-sociales{
  grid-area: sociales;
}

.c-footer-right{
  grid-area: right;
  @include mq(mdl){
    justify-self: start;
    margin-left: 1rem;
  }
}

.c-footer-creditos{
  grid-area: creditos;
  @include mq(mdl){
    align-self: end;
    padding: .5rem 0;
  }
}
