.c-footer{
  background-color: color(primary1);
  padding-bottom: .5rem;
  @include mq(mdl){
    padding: .5rem 0;
  }
}

.container-footer{
  width: 90%;
  margin: auto;
  text-align: center;
  @include mq(mdl){
    display: grid;
    grid-template-areas:
                  "right sociales up"
                  " . creditos . ";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }
}

#up{
  color: color(text);
  font-size: 2.5rem;
  cursor: pointer;
  padding: .5rem 0;
  @include mq(mdl){
    grid-area: up;
    // border: 1px solid green;
    padding: 0;
    justify-self: center;
  }
  &:hover{
    color: white;
    transform: scale(1.1);
  }
}

.c-footer-sociales{
  @include mq(mdl){
    grid-area: sociales;
    // border: 1px solid blue;
    align-self: center;
  }
  & i{
    font-size: 1.7rem;
    color: color(text);
    padding: 0 1rem;
    cursor: pointer;
    &:hover{
      color: white;
    }
  }
}

.c-footer-right{
  color: color(text);
  margin: .5rem 0;
  letter-spacing: 2px;
  @include mq(mdl){
    grid-area: right;
    margin: 0;
    // border: 2px solid red;
    align-self: center;
    justify-self: start;
  }
}

.c-footer-creditos{
  display: flex;
  justify-content: center;
  // border: 1px solid red;
  color: color(text);
  @include mq(mdl){
    grid-area: creditos;
    // border: 1px solid orange;
  }
  & p{
    margin-right: 3px;
    font-size: .8rem;
    letter-spacing: 2px;
  }
  & a{
    color: color(secondary);
    font-size: .8rem;
    letter-spacing: 2px;
    &:hover{
      color: #249EDB;
    }
  }
}
