.c-header{
  display: grid;
  width: 100%;
  grid-template-areas: ". logo menu";
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  transition: all .4s ease;
  &-logo{
    grid-area: logo;
    & a img{
      width: auto;
      display: block;
      height: auto;
      border: 1px solid red;
      @include mq(mdl){
        width: 63%;
        margin: auto;
      }
    }
  }
  &-menu{
    grid-area: menu;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
    color: color(primary);
    cursor: pointer;
  }
}

.c-nav{
  position: fixed;
  display: grid;
  grid-template-areas: 
              "close"
              "menu"
              "sociales";
  grid-template-rows: 4rem 12rem 2rem; 
  top: 0;
  right: -$off-canvas;
  width: $off-canvas;
  height: 100vh;
  z-index: z-index(capa5);
  background-color: color(primary1);
  transition: all .4s ease;
  &-close{
    grid-area: close;
    justify-self: end;
    padding-top: 1rem;
    padding-right: .5rem;
    // border: 1px solid purple;
  }
  &-menu{
    grid-area: menu;
    // border: 2px solid red;
    &-item{
      padding: .5rem;
      padding-left: 1rem;
      border-bottom: .3px solid color(border);
      & a{
        color: color(bg);
        text-transform: uppercase;
      }
    }
    &-item:first-child{
      border-top: .3px solid color(border); 
    }
  }
  &-sociales{
    grid-area: sociales;
    justify-self: center;
    color: color(text);
    // border: 2px solid yellow;
    & i{
      padding: .5rem;
      font-size: 1.2rem;
    }
  }
}

.icon-close{
  cursor: pointer;
  color: color(bg);
  font-weight: 400;
}

.show-menu{
  right: 0;
}