.c-header{
  position: relative;
  z-index: z-index(capa10);
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-areas: ". logo menu";
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  // transition: all .4s ease;
  @include mq(lgm){
    grid-template-areas: "logo menu menu";
    width: 90%;
    margin: auto;
  }
  &-logo{
    grid-area: logo;
    & a img{
      width: auto;
      display: block;
      height: auto;
      // border: 1px solid red;
      @include mq(smH){
        width: 55%;
        margin: auto;
      }
      @include mq(mdl){
        width: 63%;
        margin: auto;
      }
    }
  }
  &-menu{
    grid-area: menu;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
    color: color(primary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    @include mq(mdl){
      font-size: 1.3rem;
      font-weight: 200;
    }
    @include mq(lgm){
      display: none;
    }
  }
}

.c-nav{
  position: fixed;
  display: grid;
  grid-template-areas:
              "close"
              "menu"
              "sociales";
  grid-template-rows: 11% 14rem 2rem;
  top: 0;
  right: -$off-canvas;
  width: $off-canvas;
  height: 100vh;
  z-index: z-index(capa5);
  background-color: color(primary1);
  transition: all .4s ease;
  @include mq(sm){
    grid-template-rows: 9.5% 14rem 2rem;
  }
  @include mq(smH){
    grid-template-rows: 16% 14rem 2rem;
  }
  @include mq(lgsH){
    grid-template-rows: 22% 14rem 2rem;
  }
  @include mq(lgm){
    grid-area: menu;
    display: flex;
    width: 100%;
    align-self: center;
    position: relative;
    height: auto;
    right: 0;
    background-color: white;
  }
  &-close{
    grid-area: close;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    // border: 1px solid purple;
    @include mq(lgm){
      display: none;
    }
  }
  &-menu{
    grid-area: menu;
    // border: 2px solid red;
    @include mq(lgm){
      display: flex;
      justify-content: flex-end;
      width: 100%;
      // border: 2px solid red;
    }
    &-item{
      padding: .5rem;
      padding-left: 1rem;
      border-bottom: .3px solid color(border);
      @include mq(lgm){
        padding: 0;
        // border: 2px solid green;
        border: none;
        transition: background-color .5s;
        &:hover{
          background-color: color(secondary);
        }
      }
      & a{
        color: color(bg);
        text-transform: uppercase;
        @include mq(lgm){
          display: block;
          color: black;
          padding: 1rem;
          letter-spacing: 2px;
          font-weight: 500;
        }
      }
    }
    &-item:first-child{
      border-top: .3px solid color(border);
      @include mq(lgm){
        border: none;
      }
    }
  }
  &-sociales{
    grid-area: sociales;
    justify-self: center;
    // border: 2px solid yellow;
    @include mq(lgm){
      display: none;
    }
    & i{
      color: color(text);
      padding: .5rem;
      font-size: 1.7rem;
    }
  }
}

.icon-close{
  cursor: pointer;
  color: color(bg);
  font-weight: 400;
}

.show-menu{
  right: 0;
}

.active{
  @include mq(lgs){
    background-color: color(secondary);
  }
}

.show-header{
  position: fixed;
  width: 100%;
  // padding: 0 5%;
  top: 0;
  @include mq(lgm){
    padding: 0 5%;
  }
}
