// Para que las cajas no queden tan anchas hay que darle padding a cada una en distintos tamaños

.c-home{
  display: grid;
  width: 100%;
  height: auto;
  &-logo img{
    display: block;
  }
  &-servicios{
    width: 100%;
    // margin: auto;
    display: flex;
    align-content: space-around;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: color(secondary);
    // margin: auto;
    // border: 2px solid green;
    & h2{
      width: 100%;
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      @include mq(mdl){
        width: 95%;
      }
    }
  }
  &-proyectos{
    border: 2px solid red;
  }
}

.cards-home{
  @include mq(md){
    width: 47%;
  }
  @include mq(mdl){
    width: 22%;
  }
  & a{
    display: inline-block;
    & figure figcaption h2{
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      height: 80%;
      line-height: 2rem;
      text-align: center;
      border: 2px solid color(secondary);
      padding: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      @include mq(mdl){
        font-size: .8rem;
        line-height: 1rem;
      }
      @include mq(lgm){
        line-height: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
