.c-home{
  border: 2px solid red;
  display: grid;
  grid-template-rows: repeat(4, minmax(1fr, max-content));
  &-banner{
    border: 2px solid blue;
  }
  // &-servicios{
  //   border: 2px solid green;
  // }
  &-plan{
    border: 2px solid orangered;
  }
  &-contacto{
    border: 2px solid violet;
  }
}

.c-home-banner{
  display: grid;
  grid-template-columns: 48% 52%;
  &-article{
    border: 2px solid red;
    &-title{
      position: relative;
      z-index: z-index(capa2);
      width: 110%;
      padding: 4rem .5rem 1rem;
      top: 1rem;
      overflow-y: visible;
      background-color: color(secondaryt);
      font-size: 1.3rem;
    }
    &-subtitle{
      position: relative;
      top: 1rem;
      width: 110%;
      z-index: z-index(capa2);
      overflow-y: visible;
      font-size: .8rem;
      padding: 1rem .5rem .8rem;
      &:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 100%;
        border-bottom: 2px solid color(secondary);
      }
    }
  }
  &-img{
    border: 2px solid #4ca01b;
    align-self: center;
  }
}

.c-home-servicios{
  position: relative;
  top: 1rem;
  width: 90%;
  margin: auto;
  & h2{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: .5rem 1rem 2rem .5rem;
    font-weight: 500;
  }
}

.c-home-servicios-gallery{
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  @include mq(md){
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &-item{
    border-bottom: 2px solid color(secondary);
  }
  &-text{
    text-transform: uppercase;
    padding: 1rem 0;
  }
}

.c-home-plan{
  position: relative;
  top: 1rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  &-title{
    text-align: center;
  }
}

.c-home-contacto{
  position: relative;
  top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: color(secondaryt);
  background-image: img('dibujo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &-img{
    display: none;
    border: 2px solid red;
  }
  &-formulario{
    position: absolute;
  }
}

.c-home-formulario{
  max-width: 600px;
  border: 2px solid red;
  padding: 1rem;
}

.c-home-contacto-header{
  & h2{
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  &-sociales{
    margin: 1rem 0;
    & a{
      padding: .5rem;
      border: 1px solid black;
      margin-right: .5rem;
      color: black;
    }
  }
}

// .c-home-contacto-form{
//   // border-bottom: 2px solid black;
//   & form{
//     // border: 2px solid blue;
//   }
// }

.home-form{
  // border: 1px solid green;
  &-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    // border: 2px solid green;
    & label{
      color: color(primary2);
      text-transform: uppercase;
    }
    & input, textarea{
      outline: none;
      border: none;
      width: 15.6rem;
      margin-left: .5rem;
      background-color: transparent;
      &:active{
        border: none ;
      }
    }
    & button{
      width: 100%;
      text-transform: uppercase;
      padding: .5rem;
      background-color: white;
      font-size: .8rem;
    }
  }
}

.label-name{
  position: relative;
  z-index: 1;
  // border-bottom: 1px solid black;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 6rem;
    border-top: 1px solid black;
    width: 63.5vw;
  }
}

.label-correo{
  position: relative;
  z-index: 1;
  // border-bottom: 1px solid black;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 6rem;
    border-top: 1px solid black;
    width: 63.5vw;
  }
}

.label-mensaje{
  position: relative;
  z-index: 1;
  // border-bottom: 1px solid black;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 90%;
    left: 6rem;
    border-top: 1px solid black;
    width: 63.5vw;
  }
}

button[type=submit]{
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -50%;
    left: 0;
    border-top: 1px solid black;
    width: 100%;
  }
}

#message{
  // border: 3px solid red;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}
