// Para que las cajas no queden tan anchas hay que darle padding a cada una en distintos tamaños

.c-home{
  display: grid;
  width: 100%;
  height: auto;
  &-logo img{
    display: block;
  }
  &-servicios{
    width: 90%;
    margin: 1rem auto;
    border: 1px solid color(secondary);
    @include mq(md){
      display: grid;
      grid-gap: 1.5rem;
      padding: 0 1.5rem 1.5rem;
      grid-template-areas:
                    "titulo titulo"
                    "diseno asesoria"
                    "hoteles vitrinas";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(min-content, max-content));
    }
    @include mq(lgm){
      grid-template-areas:
                    "titulo titulo titulo titulo"
                    "diseno asesoria hoteles vitrinas";
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, minmax(min-content, max-content));
    }
    & h2{
      @include titulos;
      width: 90%;
      margin: auto;
      padding: 1rem 0 0;
      @include mq(md){
        width: 100%;
        padding: 1.5rem 0 0;
        grid-area: titulo;
      }
    }
  }
  &-proyectos{
    width: 90%;
    margin: 1rem auto;
    border: 1px solid color(secondary);
    padding-bottom: 1rem;
    &-title{
      @include titulos;
      width: 90%;
      margin: auto;
      padding: 1rem 0 ;
    }
  }
}

.cards-home{
  width: 90%;
  margin: 1rem auto;
  @include mq(md){
    width: 100%;
    margin: 0 auto;
  }
  & a{
    display: inline-block;
    & figure figcaption h2{
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      height: 80%;
      line-height: 2rem;
      text-align: center;
      border: 2px solid color(secondary);
      padding: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: $secondary-font;
      @include mq(md){
        font-size: 1.5rem;
        padding: .5rem;
        width: 80%;
      }
      @include mq(lgm){
        line-height: 2rem;
        font-size: 1.5rem;
        width: 85%;
      }
    }
  }
}

.serv-1{
  grid-area: diseno;
}
