.c-nuestro-estudio{
  background-color: color(secondary);
  // border: 2px solid red;
  &-title{
    @include titulos;
    padding: 0 $gutter;
    padding-top: 1rem;
  }
  &-team{
    background-color: color(primary);
  }
}
