.c-proyecto{
  // border: 2px solid green;
  margin-bottom: 1rem;
  &-banner{
    display: flex;
    position: relative;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: img('caverna-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    @include mq(md){
      height: 34rem;
      background-position: initial;
    }
    & h1, p{
      width: 100%;
      text-align: center;
      // border: 2px solid red;
    }
  }
  &-title{
    font-weight: 500;
    letter-spacing: 1px;
    @include mq(md){
      font-size: 4rem;
    }
  }
  &-subtitle{
    letter-spacing: 1px;
    @include mq(md){
      font-size: 1.5rem;
    }
  }
  &-textos{
    color: black;
    border: 1px solid color(secondary);
    margin: 1rem auto;
    width: 90%;
    padding: 1rem;
  }
  &-imagen{
    width: 90%;
    margin: 1rem auto;
    @include mq(md){
      margin: 2rem auto;
    }
  }
  &-compare{
    width: 90%;
    margin: 1rem auto;
    padding: .5rem;
    border: 1px solid color(secondary);
    @include mq(md){
      margin: 2rem auto;
    }
    & h3{
      @include titulos;
      width: 90%;
      margin: auto;
      padding-top: 1rem;
    }
    & p{
      @include parrafos;
      width: 90%;
      margin: auto;
      margin-top: 1rem;
    }
    &-imagenes{
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      // border: 2px solid green;
      justify-content: space-between;
      & img{
        display: block;
        width: 100%;
        height: 100%;
        @include mq(md){
          width: 48%;
          height: 48%;
          margin: 0;
        }
      }
    }
  }
}

.antes{
  position: relative;
  width: 100%;
  height: 100%;
  @include mq(md){
    width: 48%;
    height: 48%;
    margin: 0;
  }
  & img{
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  & p{
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% - 3.5rem);
    font-size: 2rem;
  }
}

.c-proyecto-name{
  @include titulos;
}

.c-proyecto-surname{
  @include sub-titulos;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.c-proyecto-description{
  @include parrafos;
  text-transform: initial;
  margin-top: .5rem;
}

#pizza{
  background-image: img('fermata-banner.jpg');
}

#pastel{
  background-image: img('color-pastel-banner.jpg');
}

#optica{
  background-image: img('optica-banner.jpg');
}

#laRosa{
  background-image: img('emporio-banner.jpg');
}
