.c-proyectos{
  width: 90%;
  margin: 1rem auto;
  border: 1px solid color(secondary);
  padding-bottom: 1rem;
  &-title{
    @include titulos;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    @include mq(md){
      width: 95%;
      padding: 1rem 0;
    }
  }
}

.c-proyectos-galery{
  display: grid;
  // grid-gap: 2px;
  grid-template-columns: 1fr;
  // border: 2px solid green;
  @include mq(md){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    grid-gap: 2px;
  }
}

.proyectos-img{
  overflow: hidden;
  // border: 2px solid green;
  margin: 1rem auto;
  & img{
    display: block;
  }
}

.c-proyectos-galery > *{
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
  color: black;
  // border: 2px solid red;
  &:hover img{
    animation: scale .4s forwards;
    @keyframes scale{
      to{
        transform: scale(1.1);
      }
    }
  }
  & footer{
    // border: 1px solid purple;
    & p{
      @include parrafos;
      padding: .5rem 0;
    }
  }
}
