.c-servicios-title{
  @include titulos;
  // color: white;
  width: 90%;
  margin: auto;
  padding: 1rem;
  border: 1px solid color(secondary);
  &::before{
    right: .5rem;
  }
}

.c-servicios{
  width: 90%;
  margin: auto;
}

.c-servicios-item1, .c-servicios-item2{
  background-color: color(secondary);
  padding: 1rem;
  border: 1px solid color(secondary);
}

.c-servicios-item1{
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-servicios-item2{
  background-color: white;
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-servicios-description{
  & h2{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  & p{
    @include parrafos;
    margin: .5rem 0;
  }
}
