.c-slider{
  position: relative;
  width: 100%;
  height: 200px;
  margin: auto;
  overflow: hidden;
  // border: 2px solid green;
}

.slider{
  display: flex;
  width: 1100%;
  &-section{
    width: 100%;
    position: relative;
    // border: 2px solid red;
  }
}

.slider > section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: yellow;
  background-size: 272px 200px;
  background-position: center;
}

.slider-img1{background-image: img('imagen1.webp');}
.slider-img2{background-image: img('imagen2.webp');}
.slider-img3{background-image: img('imagen3.webp');}
.slider-img4{background-image: img('imagen4.webp');}
.slider-img5{background-image: img('imagen5.webp');}
.slider-img6{background-image: img('imagen6.webp');}
.slider-img7{background-image: img('imagen7.webp');}
.slider-img8{background-image: img('imagen8.webp');}
.slider-img9{background-image: img('imagen9.webp');}
.slider-img10{background-image: img('imagen10.webp');}
.slider-img11{background-image: img('imagen11.webp');}

.btn-prev, .btn-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: color(primary);
  color: white;
  cursor: pointer;
}

.btn-prev{
  left: 0;
  padding: 26px 28px 44px 7px;
}

.btn-next{
  right: 0;
  padding: 26px 22px 44px 13px;
}
