section#modal.modal
  article.c-historia
    p #[strong SP Estudio Diseño y Remodelaciones] nace como el emprendimiento de dos diseñadoras viñamarinas que, luego de trabajar en el mundo privado del diseño comercial, reconocen la tendencia en muchos dueños y empresarios de locales pequeños y medianos de la región, de querer invertir para el diseño y refacción de sus espacios comerciales, con la finalidad de refrescar sus marcas y posicionarse entre sus pares. En estas ganas, buscando una alternativa que brinde un servicios multidisciplinario, el que, además de atender lo estético, ejecutase en función a un presupuesto establecido y cumpliera cabalmente tiempos de entrega de proyecto.
    p Principalmente, el segmento tiendas, restaurantes y hoteles, fueron detectados como los mayores demandantes de un servicio que atendiera estos puntos, siendo particularmente, artistas tan críticas para quienes fueran los mismos dueños y propietarios de los negocios.
    p Es así, como Valentina Praus, diseñadora Industrial PUCV y Stephani Semmler, Diseñadora Ambiental DUOC UC, crean SP Estudio, ofreciendo a distintas PyMes y particulares de la región, soluciones de diseño integral, abarcando el desarrollo del fundamento del arte a diseñar, la supervisión de las cuadrillas de trabajo en la operación, hasta la afinación de detalles menores para la entrega final del proyecto.
    p Hoy, luego de vasta trayectoria y con un alcance geográfico más amplio, SP brinda soluciones de diseño sustentadas en #[i marketing experiencial], entendiendo y desenvolviendo de manera atractiva y oportuna, el concepto de la marca en un espacio comercial. Las modalidades #[i Propuesta de Diseño ejecutado por el Cliente y Servicio Llave en Mano], aseguran la alineación perfecta del triángulo comercial diseño, costo y tiempo.
    i Te invitamos a conocer el Diseño y Profesionalismo de SP Estudio
    .c-historia-img
      img(src="img/team.jpg", alt="Fundadoras")
    i#close-modal.icon-close
