extends ../template/modelo
append config
  - titulo = "SPestudio | Contacto";
  - descripcion = "Pongase en contacto";

block header
  include ../componentes/header
block main
  include ../componentes/contacto
block footer
  include ../componentes/footer
block script
  script(src= jquery)
  script(src="js/global.min.js")
  script(src="js/contacto.js")
  script(type="text/javascript").
    (function (){
      var options = {
        facebook: "136547833765201",
        call_to_action: "Contáctanos ahora!",
        position: "right",
      };
      var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options);};
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();
