extends ../template/modelo
append config
  - titulo = "SPestudio | Misión";
  - descripcion = "Pongase en contacto";

block header
  include ../componentes/header
block main
  include ../componentes/mision
block footer
  include ../componentes/footer
