extends ../template/modelo
append config
  -titulo = "SPestudio | Nosotros";
  - descripcion = "Somos una sociedad";

block header
  include ../componentes/header
block main
  include ../componentes/nosotros
block footer
  include ../componentes/footer
block script
  script(src= jquery)
  script(src="js/global.min.js")
  script(src="js/nuestro.js")
