extends ../template/modelo
append config
  -titulo = "SPestudio | Nosotras";
  - descripcion = "Somos una sociedad";

block header
  include ../componentes/header
block main
  include ../componentes/nosotras
block footer
  include ../componentes/footer