extends ../template/modelo
append config
  - titulo = "SPestudio | Proyectos";
  - descripcion = "Abordamos los proyectos a partir del estudio del fundamento del negocio, para luego generar la aplicación de la marca dentro del espacio, la ejecución de interiorismo y papelería";

block header
 include ../componentes/header
block main
 include ../componentes/proyectos
block footer
 include ../componentes/footer