extends ../template/modelo
append config
  - titulo = "SPestudio | Proyectos";

block header
  include ../componentes/header
block main
  include ../proyectos/pastel
block footer
  include ../componentes/footer
