extends ../template/modelo
append config
  - titulo = "SPestudio | Servicios";
  - descripcion = "algo";

block header
  include ../componentes/header
block main
  include ../componentes/servicios
block footer
  include ../componentes/footer