//- Ejemplos
//- -var currentPage = "inicio";
-let titulo = "SPestudio";
-let descripcion = "Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales";
-let jquery = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js";
-let url = "http://localhost:3000/" // http://xn--spestudiodiseo-2nb.cl/

-
  let link = {
    home: url,
    nuestroestudio: url + "nosotros.html",
    servicios: url + "servicios.html",
    mision: url + "mision.html",
    proyectos: url + "proyectos.html",
    contacto: url + "contacto.html"
  }
  let proyecto = {
    pizza: {
      name: "La Fermata",
      subtitle: "2017 - Viña del Mar",
      surname: "Pizzería artesanal ubicada en el centro de Avenida Libertad",
      description: "Diseño. Remodelación de terraza interior, primer piso y segundo piso. Cambio en revestimiento de muros, pintura. Ilustraciones diseñadas en basa a imágen corporativa. Estudio de marca en el espacio. Diseño de cielo interior, mobiliario, iluminación. Apertura de ambientes.",
      url: link.home + "proyecto-pizza.html",
      img: "img/fermata-banner.jpg",
      img640a: "img/fermata1.jpg",
      img640b: "img/fermata2.jpg",
      alt: "La Fermata"
    },
    pastel: {
      name: "Color Pastel",
      subtitle: "2017 - Viña del Mar",
      surname: "Atelier de pastelería artesanal, especializada en tortas, pasteles y bocadillos temáticos",
      description: "Proyecto de diseño y supervisión de obra. Revestimientos muro y piso, mobiliario, barra de atención, concepto de ilustraciones en muros e iluminación. Diseño e implementación de vitrina.",
      url: link.home + "proyecto-pastel.html",
      img: "img/color-pastel-banner.jpg",
      img640a: "img/color-pastel1.jpg",
      img640b: "img/color-pastel2.jpg",
      alt: "Color Pastel"
    },
    terraza: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-terraza.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Terraza Sibarita"
    },
    dominga: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-dominga.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Dulce Dominga"
    },
    togni: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-togni.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "De Togni"
    },
    friends: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-friends.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Bar Friends"
    },
    dulce: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-dulce.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Dulce y Miel"
    },
    caverna: {
      name: "La Caverna",
      subtitle: "2018 - Valparaíso",
      surname: "Café temático The Beatles",
      description: "Diseño, supervisión de obra y gestión de compras. Revestimiento pisos y muros, barra operaria, baños, mobiliario, implementación de decoración e iluminación. Diseño e impresión de papelería.",
      url: link.home + "proyecto-caverna.html",
      img: "img/caverna-banner.jpg",
      img640a: "img/caverna2.jpg",
      img640b: "img/caverna1.jpg",
      alt: "La Caverna"
    },
    departamento: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-departamento.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Departamento"
    },
    optica: {
      name: "Óptica Italiana",
      subtitle: "2018 - Viña del Mar",
      surname: "Tienda de lentes ópticos",
      description: "Proyecto completo de diseño y ejecución Sala de venta y Baño. Revestimientos pisos y muros, restauración de mobiliarios, iluminación, diseño e implementación de marca en vitrina y fachada. Supervisión de obra y coordinación en compras.",
      url: link.home + "proyecto-optica.html",
      img: "img/optica-banner.jpg",
      img640a: "img/optica1.jpg",
      img640b: "img/optica2.jpg",
      alt: "Óptica Italia"
    },
    hotel: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-hotel.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Gran Bretaña 21"
    },
    pols: {
      name: "No me ha llegado",
      subtitle: "No me ha llegado",
      surname: "No me ha llegado",
      description: "No me ha llegado",
      url: link.home + "proyecto-pols.html",
      img: "https://placeimg.com/900/600/any",
      img640a: "http://placeimg.com/640/640/arch",
      img640b: "http://placeimg.com/640/640/arch",
      alt: "Dulce Pols"
    }
  }
