//- Ejemplos
//- -var currentPage = "inicio";
-let titulo = "SPestudio";
-let descripcion = "Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales"

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}