//- Ejemplos
//- -var currentPage = "inicio";
-let titulo = "SPestudio";
-let descripcion = "Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales";
-let jquery = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js";

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}