//- Ejemplos
//- -var currentPage = "inicio";
-let titulo = "SPestudio";
-let descripcion = "Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales";
-let jquery = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js";
-
  let link = {
    home: "http://localhost:3000/",
    nuestroestudio: "http://localhost:3000/nuestro-estudio.html",
    servicios: "http://localhost:3000/servicios.html",
    proyectos: "http://localhost:3000/proyectos.html",
    contacto: "http://localhost:3000/contacto.html"
  }
  //- let link = {
  //-   home: "https://esfera-digital.000webhostapp.com/",
  //-   nuestroestudio: "https://esfera-digital.000webhostapp.com/nuestro-estudio.html",
  //-   servicios: "https://esfera-digital.000webhostapp.com/servicios.html",
  //-   proyectos: "https://esfera-digital.000webhostapp.com/proyectos.html",
  //-   contacto: "https://esfera-digital.000webhostapp.com/contacto.html"
  //- }
  let proyecto = {
    pizza: {
      url: link.home + "proyecto-pizza.html",
      img: "https://placeimg.com/900/600/any",
      alt: "La Fermata"
    },
    pastel: {
      url: link.home + "proyecto-pastel.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Color Pastel"
    },
    terraza: {
      url: link.home + "proyecto-terraza.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Terraza Sibarita"
    },
    dominga: {
      url: link.home + "proyecto-dominga.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce Dominga"
    },
    togni: {
      url: link.home + "proyecto-togni.html",
      img: "https://placeimg.com/900/600/any",
      alt: "De Togni"
    },
    friends: {
      url: link.home + "proyecto-friends.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Bar Friends"
    },
    dulce: {
      url: link.home + "proyecto-dulce.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce y Miel"
    },
    caverna: {
      url: link.home + "proyecto-caverna.html",
      img: "https://placeimg.com/900/600/any",
      alt: "La Caverna"
    },
    departamento: {
      url: link.home + "proyecto-departamento.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Departamento"
    },
    optica: {
      url: link.home + "proyecto-optica.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Óptica Italia"
    },
    hotel: {
      url: link.home + "proyecto-hotel.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Gran Bretaña 21"
    },
    pols: {
      url: link.home + "proyecto-pols.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce Pols"
    }
  }
