//- Ejemplos
//- -var currentPage = "inicio";
-let titulo = "SPestudio";
-let descripcion = "Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales";
-let jquery = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js";
-
  let link = {
    home: "http://localhost:3000/",
    nuestroestudio: "http://localhost:3000/nuestro-estudio.html",
    servicios: "http://localhost:3000/servicios.html",
    proyectos: "http://localhost:3000/proyectos.html",
    contacto: "http://localhost:3000/contacto.html"
  }
  let proyecto = {
    pizza: {
      url: "http://localhost:3000/proyecto-pizza.html",
      img: "https://placeimg.com/900/600/any",
      alt: "La Fermata"
    },
    pastel: {
      url: "http://localhost:3000/proyecto-pastel.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Color Pastel"
    },
    terraza: {
      url: "http://localhost:3000/proyecto-terraza.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Terraza Sibarita"
    },
    dominga: {
      url: "http://localhost:3000/proyecto-dominga.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce Dominga"
    },
    togni: {
      url: "http://localhost:3000/proyecto-togni.html",
      img: "https://placeimg.com/900/600/any",
      alt: "De Togni"
    },
    friends: {
      url: "http://localhost:3000/proyecto-friends.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Bar Friends"
    },
    dulce: {
      url: "http://localhost:3000/proyecto-dulce.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce y Miel"
    },
    caverna: {
      url: "http://localhost:3000/proyecto-caverna.html",
      img: "https://placeimg.com/900/600/any",
      alt: "La Caverna"
    },
    departamento: {
      url: "http://localhost:3000/proyecto-departamento.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Departamento"
    },
    optica: {
      url: "http://localhost:3000/proyecto-optica.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Óptica Italia"
    },
    hotel: {
      url: "http://localhost:3000/proyecto-hotel.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Gran Bretaña 21"
    },
    pols: {
      url: "http://localhost:3000/proyecto-pols.html",
      img: "https://placeimg.com/900/600/any",
      alt: "Dulce Pols"
    }
  }
//- -
//-   let link = {
//-     home: "https://esfera-digital.000webhostapp.com/",
//-     nuestroestudio: "https://esfera-digital.000webhostapp.com/nuestro-estudio.html",
//-     servicios: "https://esfera-digital.000webhostapp.com/servicios.html",
//-     proyectos: "https://esfera-digital.000webhostapp.com/proyectos.html",
//-     contacto: "https://esfera-digital.000webhostapp.com/contacto.html"
//-   }
