main.c-main
  section.c-proyecto
    .c-proyecto-banner#laCaverna
      h1.c-proyecto-title La Caverna
      p.c-proyecto-subtitle 2018 - Valparaíso
    .c-proyecto-textos
      h2.c-proyecto-name La Caverna
      p.c-proyecto-surname Café temático The Beatles
      p.c-proyecto-description Diseño, supervisión de obra y gestión de compras. Revestimiento pisos y muros, barra operaria, baños, mobiliario, implementación de decoración e iluminación. Diseño e impresión de papelería.
    .c-proyecto-imagen
      img(src=proyecto.caverna.img, alt=proyecto.caverna.alt)
    .c-proyecto-compare
      h3 Antes y Después
      p Acá me faltan las fotos para poder hacer lo que habiamos acordado, una imagen con el antes y otra con el después.
      .c-proyecto-compare-imagenes
        img(src=proyecto.caverna.img640a)
        img(src=proyecto.caverna.img640b)
