main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.dominga.img, alt=proyecto.dominga.alt)
    .c-proyecto-textos
    .c-proyecto-imagen
      img(src=proyecto.dominga.img, alt=proyecto.dominga.alt)
    .c-proyecto-compare
