main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.hotel.img, alt=proyecto.hotel.alt)
    .c-proyecto-textos
    .c-proyecto-imagen
      img(src=proyecto.hotel.img, alt=proyecto.hotel.alt)
    .c-proyecto-compare
