main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.pastel.img, alt=proyecto.pastel.alt)
    .c-proyecto-textos
      h3.proyecto-title Pastelería Color Pastel.
      h4.proyecto-subtitle Atelier de pastelería artesanal, especializada en tortas, pasteles y bocadillos temáticos.
      p.proyecto-description Proyecto: Diseño y remodelación completa de tienda.
    .c-proyecto-imagen
      img(src=proyecto.pastel.img, alt=proyecto.pastel.alt)
    .c-proyecto-compare
      .compare-img1
      .compare-img2
