main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.pizza.img, alt=proyecto.pizza.alt)
    .c-proyecto-textos
      h3.proyecto-title Pizzería La Fermata.
      h4.proyecto-subtitle Pizzería artesanal ubicada en el centro de Avenida Libertad.
      p.proyecto-description Proyecto: Remodelación de terraza interior, primer piso y segundo piso. Cambio en revestimiento de muros, pintura. Ilustraciones diseñadas en base a imagen corporativa. Estudio de marca en el espacio. Diseño de cielo interior, mobiliario, iluminación. Apertura de ambientes.
    .c-proyecto-imagen
      img(src=proyecto.pizza.img, alt=proyecto.pizza.alt)
    .c-proyecto-compare
      .compare-img1
      .compare-img2
