main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.pols.img, alt=proyecto.pols.alt)
    .c-proyecto-textos
    .c-proyecto-imagen
      img(src=proyecto.pols.img, alt=proyecto.pols.alt)
    .c-proyecto-compare
