main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.terraza.img, alt=proyecto.terraza.alt)
    .c-proyecto-textos
      h3.proyecto-title Terraza Sibarita.
      h4.proyecto-subtitle falta el texto.
      p.proyecto-description Proyecto: Diseño y remodelación completa de tienda.
    .c-proyecto-imagen
      img(src=proyecto.terraza.img, alt=proyecto.terraza.alt)
    .c-proyecto-compare
