main.c-main
  section.c-proyecto
    .c-proyecto-banner
      img(src=proyecto.togni.img, alt=proyecto.togni.alt)
    .c-proyecto-textos
    .c-proyecto-imagen
      img(src=proyecto.togni.img, alt=proyecto.togni.alt)
    .c-proyecto-compare
