footer.c-footer
  i#up.icon-up
  .c-footer-sociales
    a(href="https://www.facebook.com/spestudiodiseno/" alt="Facebook" target="_blank")
      i(alt="Facebook").icon-facebook
    a(href="https://www.instagram.com/semmleryprausestudio/" target="_blank")
      i.icon-instagram
    a(href= "https://empresas.habitissimo.cl/pro/sp-estudio-diseno-y-remodelacion#1" target="_blank")
      i.icon-home
  .c-footer-right
    p &copy; Copyright SP Estudio 2018
  .c-footer-creditos
    p Desarrollado por
      a(href="https://esferadigital.cl", target="_blank")  Esfera Digital

