footer.c-footer
  i#up.icon-up
  .c-footer-sociales
    i.icon-facebook
    i.icon-instagram
  .c-footer-right
    p &copy; Copyright SP Estudio 2018
  .c-footer-creditos
    p Desarrollado por
      a(href="https://esferadigital.cl", target="_blank")  Esfera Digital

