header#mainHeader.c-header
  h1.c-header-logo
   a(href="#")
    img(src="img/logo.jpg", alt="Logo SPestudio")
  #openMenu.c-header-menu.icon-menu
  nav#mainNav.c-nav
    ul
      #closeMenu.icon-close
      li
        a(href="#").link Home
      li
        a(href="#").link Servicios
      li
        a(href="#").link Nosotras
      li
        a(href="#").link Proyectos
      li
        a(href="#").link Contacto
