header#mainHeader.c-header
  h1.c-header-logo
   a(href="#")
    img(src="img/logo1.jpg", alt="Logo SPestudio")
  i#openMenu.c-header-menu.icon-menu
  nav#mainNav.c-nav
    i#closeMenu.icon-close.c-nav-close
    ul.c-nav-menu
      li.c-nav-menu-item
        a(href="https://esfera-digital.000webhostapp.com/").link Home
      li.c-nav-menu-item
        a(href="https://esfera-digital.000webhostapp.com/servicios.html").link Servicios
      li.c-nav-menu-item
        a(href="https://esfera-digital.000webhostapp.com/nosotras.html").link Nosotras
      li.c-nav-menu-item
        a(href="https://esfera-digital.000webhostapp.com/proyectos.html").link Proyectos
      li.c-nav-menu-item
        a(href="https://esfera-digital.000webhostapp.com/contacto.html").link Contacto
    div.c-nav-sociales
      a(href="https://www.facebook.com/semmlerypraus/" target="_blank")
        i.icon-facebook
      a(href="https://www.instagram.com/semmleryprausestudio/" target="_blank")
        i.icon-instagram
