header#mainHeader.c-header
  h1.c-header-logo
   a(href="#")
    img(src="img/logo1.jpg", alt="Logo SPestudio")
  i#openMenu.c-header-menu.icon-menu
  nav#mainNav.c-nav
    i#closeMenu.icon-close.c-nav-close
    ul.c-nav-menu
      li.c-nav-menu-item
        a(href="http://localhost:3000/").link Home
      li.c-nav-menu-item
        a(href="http://localhost:3000/servicios.html").link Servicios
      li.c-nav-menu-item
        a(href="http://localhost:3000/nosotras.html").link Nosotras
      li.c-nav-menu-item
        a(href="http://localhost:3000/proyectos.html").link Proyectos
      li.c-nav-menu-item
        a(href="http://localhost:3000/contacto.html").link Contacto
    div.c-nav-sociales
      i.icon-facebook
      i.icon-instagram
