main.c-main
  div.c-home
    div.c-home-logo
      img(src="img/spestudio.png")
    section.c-home-slider
      include slider
    section.c-home-servicios
      h2 Servicios
      .c-home-servicios-item
        a(href=link.servicios)
          figure.c-figure
            img(src="img/diseno.jpg", alt="Diseño").c-figure-frontal
            figcaption.c-figure-trasera
              h2.c-figure-trasera-t Diseño Locales Comerciales
      .c-home-servicios-item
        a(href=link.servicios)
          figure.c-figure
            img(src="img/asesoria.jpg", alt="Asesoria").c-figure-frontal
            figcaption.c-figure-trasera
              h2.c-figure-trasera-t Asesoría de decoración integral
      .c-home-servicios-item
        a(href=link.servicios)
          figure.c-figure
            img(src="img/hoteles.jpg", alt="Diseño de Hoteles").c-figure-frontal
            figcaption.c-figure-trasera
              h2.c-figure-trasera-t Diseño de Hoteles
      .c-home-servicios-item
        a(href=link.servicios)
          figure.c-figure
            img(src="img/vitrinas.jpg", alt="Diseño de Vitrinas").c-figure-frontal
            figcaption.c-figure-trasera
              h2.c-figure-trasera-t Diseño de Vitrinas
    section.c-home-proyectos
      h2.c-home-proyect-title Proyectos
