main.c-main
  div.c-home
    section.c-home-banner
      h2.c-home-banner-title Diseñamos espacios, construimos experiencias...
      button saber más
        i.icon-up
    section.c-home-team
      figure.card-team
        img(src="https://picsum.photos/300/200" alt="Valentina Praus")
        p Valentina Praus
        P Socia Fundadora
        P Diseñadora Industrial y Licenciada en diseño de Objetos de la Pontificia Universidad Católica de Valparaíso. Se ha especializado en diseño de tienda, retail marketing y branding corporativo para diseñar espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado.
        div.card-team-sociales
          i.icon-facebook
          i.icon-twitter
          i.icon-instagram
      figure.card-team
        img(src="https://picsum.photos/300/200" alt="Stephani Semmler")
        p Stephani Semmler
        P Socia Fundadora
        P Diseñadora de Ambientes Duoc UC, con un Máster en Infoarquitectura Barcelona, España. Y curso en Marketing y Ventas en Universidad de Chile, Santiago.
        |  Se ha especializado en diseño y construcción de locales comerciales en la V región. Generando una línea conectora entre la funcionalidad de los espacios y lo estético.
        div.c-team-sociales
          i.icon-facebook
          i.icon-twitter
          i.icon-instagram
    section.c-home-proyect
      h2 Proyectos
      include slider
