main.c-main
  div.c-home
    div.c-home-logo
      img(src="img/spestudio.png", alt="Logo")
    section.c-home-slider
      include slider
    section.c-home-servicios
      h2 Servicios
      .cards-rotate.cards-home.serv-1
        a(href=link.servicios)
          figure.cards-rotate-figure
            img(src="img/diseno.jpg", alt="Diseño").cards-rotate-figure-img
            figcaption.cards-rotate-figure-figcaption
              h2.c-figure-trasera-t Diseño Locales Comerciales
      .cards-rotate.cards-home
        a(href=link.servicios)
          figure.cards-rotate-figure
            img(src="img/asesoria.jpg", alt="Asesoria").cards-rotate-figure-img
            figcaption.cards-rotate-figure-figcaption
              h2.c-figure-trasera-t Asesoría de decoración integral
      .cards-rotate.cards-home
        a(href=link.servicios)
          figure.cards-rotate-figure
            img(src="img/hoteles.jpg", alt="Diseño de Hoteles").cards-rotate-figure-img
            figcaption.cards-rotate-figure-figcaption
              h2.c-figure-trasera-t Diseño de Hoteles
      .cards-rotate.cards-home
        a(href=link.servicios)
          figure.cards-rotate-figure
            img(src="img/vitrinas.jpg", alt="Diseño de Vitrinas").cards-rotate-figure-img
            figcaption.cards-rotate-figure-figcaption
              h2.c-figure-trasera-t Diseño de Vitrinas
    section.c-home-proyectos
      h2.c-home-proyect-title Proyectos
