main.c-main
  section.c-misiones
    .c-mision
      .c-mision-item
        h2 Misión
        p Somos un estudio de diseño especialista en locales comerciales. Creamos propuestas conceptuales y originales para clientes privados y/o particulares, a nivel regional y nacional.
      .c-mision-item
        h2 Visión
        p Ser la empresa más destacada en diseño de locales comerciales a nivel nacional. Posicionar nuestra marca a nivel internacional.
    .c-valores
      .c-valores-text
        h2 Valores
        p Son cinco los valores que sustentan nuestra cultura, determinan nuestra actitud y definen como hacemos las cosas en #[span SP Estudio Diseño y Remodelaciones]. Con esta fórmula, logramos la confianza e incondicionalidad de nuestros aliados estratégicos.
