main.c-main
  section.c-nosotros
    .c-nosotros-banner
      .c-nosotros-banner-img
        img(src="img/team.jpg" alt="Fundadoras")
        .c-nosotros-banner-nombres
          .c-nosotros-banner-name
            p stephani
            h3 semmler
          .c-nosotros-banner-symbol
            h2 &
          .c-nosotros-banner-name
            p valentina
            h3 praus
    .c-nosotros-fundadoras
      p.fundadoras-description SP Estudio Diseño y Remodelaciones nace como el emprendimiento de dos diseñadoras viñamarinas que, luego de trabajar en el mundo privado del diseño comercial, reconocen la tendencia en muchos dueños y empresarios de locales pequeños y medianos de la región, de querer invertir para el diseño y refacción de sus espacios comerciales, con la finalidad de refrescar sus marcas y posicionarse entre sus pares.
      p.fundadoras-description SP brinda soluciones de diseño sustentadas en marketing experiencial, entendiendo y desenvolviendo de manera atractiva y oportuna, el concepto de la marca en un espacio comercial. Las modalidades Propuesta de Diseño ejecutado por el Cliente y Servicio Llave en Mano, aseguran la alineación perfecta del triángulo comercial diseño, costo y tiempo.
      .c-nosotros-fundadoras-team
        figure.card-team
          .card-team-img
            img(src="img/stephani.jpg" alt="Stephani Semmler")
          .card-team-cita
            p "Mi sello está en generar una línea conectora y única entre la funcionalidad de los espacios y la expresión de lo estético".
          .card-team-description
            p Diseñadora de Ambientes Duoc UC.
            p Máster en infoarquitectura Barcelona, España.
            p Curso en Marketing y Ventas en Universidad de Chile, Santiago.
            p Experiencia en diseño y construcción de locales comerciales en la V región.
        figure.card-team
          .card-team-img
            img(src="img/valentina.jpg" alt="Valentina Praus")
          .card-team-cita
            p "Busco crear espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado".
          .card-team-description
            p Diseñadora Industrial
            p Licenciada en diseño de Objetos de la Pontificia Universidad Católica de Valparaíso.
            p Especialización en diseño de tienda, retal marketing y branding corporativo.
    .c-nosotros-mision
      .c-nosotros-mision-container
        .c-nosotros-mision-item
          h4 Misión
          p Somos un estudio de diseño especialista en locales comerciales. Creamos propuestas conceptuales y originales para clientes privados y/o particulares, a nivel regional y nacional.
        .c-nosotros-mision-item
          h4 Visión
          p Ser la empresa más destacada en diseño de locales comerciales a nivel nacional. Posicionar nuestra marca a nivel internacional.
        .c-nosotros-mision-item
          h4 Valores
          p Son cinco los valores que sustentan nuestra cultura, determinan nuestra actitud y definen como hacemos las cosas en SP Estudio Diseño y Remodelaciones. Con esta fórmula, logramos la confianza e incondicionalidad de nuestros aliados estratégicos.
