main.c-main
  section.c-nosotras
    h2.c-nosotras-title Nosotras
    .c-nosotras-team
      figure.card-team
        .card-team-item
          img(src="img/valentina.jpg" alt="Valentina Praus")
        .card-team-item
          p.card-team-item-name Stephani Semmler
          P.card-team-item-role Socia Fundadora
          P.card-team-item-description Diseñadora de Ambientes Duoc UC, con un Máster en Infoarquitectura Barcelona, España. Y curso en Marketing y Ventas en Universidad de Chile, Santiago.
            |  Se ha especializado en diseño y construcción de locales comerciales en la V región. Generando una línea conectora entre la funcionalidad de los espacios y lo estético.
      figure.card-team
        .card-team-item
          img(src="img/stephani.jpg" alt="Stephani Semmler")
        .card-team-item
          p.card-team-item-name Valentina Praus
          P.card-team-item-role Socia Fundadora
          P.card-team-item-description Diseñadora Industrial y Licenciada en diseño de Objetos de la Pontificia Universidad Católica de Valparaíso. Se ha especializado en diseño de tienda, retail marketing y branding corporativo para diseñar espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado.
    .c-nosotras-mision
      .item-mision-text
        h2 Mision
        p Generar propuestas funcionales y habitables a través de un diseño simple y elegante que siga las tendencias de interiorismo y decoración.
        p Hablamos de funcional a la hora de habitarlo y experiencial en el cómo vivirlo.
        p Nuestro principal objetivo es entregar un servicio personalizado que otorgue tranquilidad a nuestros clientes, en el momento de dejar su proyecto en nuestras manos.
      .item-mision-img
    .c-nosotras-valores
      h2 Valores
      p Son cinco los valores que sustentan nuestra cultura, determinan nuestra actitud y definen como hacemos las cosas en #[span SP Estudio]. Con esta formula logramos la confianza e incondicionalidad de nuestros aliados estratégicos.
      ul
        li Honestidad
          p Actuamos con transparencia y probidad, siempre y en todo momento. Nuestra gestión es clara y verificable.
        li Lealtad
          p Permanecesmos fieles a los acuerdos tranzados, aún cuando el panorama no sea auspicioso. El poder de la palabra es un principio básico de nuestro quehacer.
        li Pasión
          p Con nuestro espíritu alegre, entusiasta y optimista, mezclado con la dosis necesaria de determinación e intensidad, alcanzamos las metas de nuestros variados proyectos.
        li Responsabilidad
          p Nos anticipamos y respondemos diligentemente a toda situación que nos competa
        li Excelencia
          p Buscamos perfeccionar cada proceso y resultado a través de revisiones iterativas de mejora continua, enfocando nuestra evaluación en tiempos, forma y fondo.
