main.c-main
  section.c-nosotros
    .c-nosotros-banner
      .c-nosotros-banner-name
        p stephani
        h3 semmler
      .c-nosotros-banner-symbol
        h2 &
      .c-nosotros-banner-name
        p valentina
        h3 praus
    .c-nosotros-fundadoras
      p.fundadoras-description SP Estudio Diseño y Remodelaciones nace como el emprendimiento de dos diseñadoras viñamarinas que, luego de trabajar en el mundo privado del diseño comercial, reconocen la tendencia en muchos dueños y empresarios de locales pequeños y medianos de la región, de querer invertir para el diseño y refacción de sus espacios comerciales, con la finalidad de refrescar sus marcas y posicionarse entre sus pares.
      figure.card-team
        .card-team-img
          img(src="img/stephani.jpg" alt="Stephani Semmler")
        .card-team-cita
          p "Mi sello está en generar una línea conectora y única entre la funcionalidad de los espacios y la expresión de lo estético".
      figure.card-team
        .card-team-img
          img(src="img/valentina.jpg" alt="Valentina Praus")
        .card-team-cita
          p "Busco crear espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado".
    .c-nosotros-mision
      .c-nosotros-mision-item
        h4 Misión
        p Somos un estudio de diseño especialista en locales comerciales. Creamos propuestas conceptuales y originales para clientes privados y/o particulares, a nivel regional y nacional.
      .c-nosotros-mision-item
        h4 Visión
        p Ser la empresa más destacada en diseño de locales comerciales a nivel nacional. Posicionar nuestra marca a nivel internacional.
      .c-nosotros-mision-item
        h4 Valores
        p Son cinco los valores que sustentan nuestra cultura, determinan nuestra actitud y definen como hacemos las cosas en SP Estudio Diseño y Remodelaciones. Con esta fórmula, logramos la confianza e incondicionalidad de nuestros aliados estratégicos.
