main.c-main
  section.c-nuestro-estudio
    .c-historia
      p Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales. Abordamos los proyectos a partir del estudio del fundamento del negocio, para luego generar la aplicacion de marca dentro del espacio, la ejecucion de interiorismo y papelería.
      button.boton#open-modal Saber más
    .c-fundadoras
      figure.card-team
        .card-team-item
          img(src="img/stephani.jpg" alt="Stephani Semmler")
        .card-team-item
          p.card-team-item-name Stephani Semmler
          strong.card-team-item-role Socia Fundadora de SP Estudio
          P.card-team-item-description Diseñadora de Ambientes Duoc UC. Máster en Infoarquitectura Barcelona, España. Curso en Marketing y Ventas en Universidad de Chile, Santiago.
            |  Experiencia en diseño y construcción de locales comerciales en la V región.
          i "Mi sello está en generar una línea conectora y única entre la funcionalidad de los espacios y la expresión de lo estético".
      figure.card-team
        .card-team-item
          img(src="img/valentina.jpg" alt="Valentina Praus")
        .card-team-item
          p.card-team-item-name Valentina Praus
          strong.card-team-item-role Socia Fundadora de SP Estudio
          P.card-team-item-description Diseñadora Industrial. Licenciada en diseño de Objetos de la Pontificia Universidad Católica de Valparaíso.
            | Especialización en diseño de tienda, retal marketing y branding corporativo.
          i "Busco crear espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado".
    .c-mision
      .item-mision-text
        h2 Mision
        p Generar propuestas funcionales y habitables a través de un diseño simple y elegante que siga las tendencias de interiorismo y decoración.
        p Hablamos de funcional a la hora de habitarlo y experiencial en el cómo vivirlo.
        p Nuestro principal objetivo es entregar un servicio personalizado que otorgue tranquilidad a nuestros clientes, en el momento de dejar su proyecto en nuestras manos.
      .item-mision-img
    .c-valores
      h2 Valores
      p Son cinco los valores que sustentan nuestra cultura, determinan nuestra actitud y definen como hacemos las cosas en #[span SP Estudio]. Con esta formula logramos la confianza e incondicionalidad de nuestros aliados estratégicos.
      .c-valores-cards
        .cards-rotate.cards-valores
          figure.cards-rotate-figure
            img(src="img/honestidad.jpg", alt="Honestidad").cards-rotate-figure-img
            .valores-figure-frontal
              h2.valores-title Honestidad
            figcaption.cards-rotate-figure-figcaption
              h2 Honestidad
              hr
              p Actuamos con transparencia y probidad, siempre y en todo momento. Nuestra gestión es clara y verificable.
        .cards-rotate.cards-valores
          figure.cards-rotate-figure
            img(src="img/lealtad.jpg", alt="Lealtad").cards-rotate-figure-img
            .valores-figure-frontal
              h2.valores-title Lealtad
            figcaption.cards-rotate-figure-figcaption
              h2 Lealtad
              hr
              p Permanecesmos fieles a los acuerdos tranzados, aún cuando el panorama no sea auspicioso. El poder de la palabra es un principio básico de nuestro quehacer.
        .cards-rotate.cards-valores
          figure.cards-rotate-figure
            img(src="img/pasion.jpg", alt="Pasion").cards-rotate-figure-img
            .valores-figure-frontal
              h2.valores-title Pasión
            figcaption.cards-rotate-figure-figcaption
              h2 Pasión
              hr
              p Con nuestro espíritu alegre, entusiasta y optimista, mezclado con la dosis necesaria de determinación e intensidad, alcanzamos las metas de nuestros variados proyectos.
        .cards-rotate.cards-valores
          figure.cards-rotate-figure
            img(src="img/responsabilidad.jpg", alt="Responsabilidad").cards-rotate-figure-img
            .valores-figure-frontal
              h2.valores-title Responsabilidad
            figcaption.cards-rotate-figure-figcaption
              h2 Responsabilidad
              hr
              p Nos anticipamos y respondemos diligentemente a toda situación que nos competa.
        .cards-rotate.cards-valores
          figure.cards-rotate-figure
            img(src="img/excelencia.jpg", alt="Excelencia").cards-rotate-figure-img
            .valores-figure-frontal
              h2.valores-title Excelencia
            figcaption.cards-rotate-figure-figcaption
              h2 Excelencia
              hr
              p Buscamos perfeccionar cada proceso y resultado a través de revisiones iterativas de mejora continua, enfocando nuestra evaluación en tiempos, forma y fondo.
  include ../elements/modal
