main.c-main
  section.c-nuestro-estudio
    .c-historia
      h2 Historia
      p Somos un estudio que se especializa en el desarrollo de diseño integral y coherente de locales comerciales. Abordamos los proyectos a partir del estudio del fundamento del negocio, para luego generar la aplicacion de marca dentro del espacio, la ejecución de interiorismo y papelería.
      button#open-modal Saber más
    .c-fundadoras
      h2 Fundadoras
      figure.card-team.card-team1
        .card-team-item
          img(src="img/stephani.jpg" alt="Stephani Semmler")
        .card-team-item.card-team1-textos
          p.card-team-item-name Stephani Semmler
          strong.card-team-item-role Socia Fundadora de SP Estudio
          P.card-team-item-description Diseñadora de Ambientes Duoc UC. Máster en Infoarquitectura Barcelona, España. Curso en Marketing y Ventas en Universidad de Chile, Santiago.
            |  Experiencia en diseño y construcción de locales comerciales en la V región.
          p.card-team-item-cita
            i "Mi sello está en generar una línea conectora y única entre la funcionalidad de los espacios y la expresión de lo estético".
      figure.card-team
        .card-team-item
          img(src="img/valentina.jpg" alt="Valentina Praus")
        .card-team-item
          p.card-team-item-name Valentina Praus
          strong.card-team-item-role Socia Fundadora de SP Estudio
          P.card-team-item-description Diseñadora Industrial. Licenciada en diseño de Objetos de la Pontificia Universidad Católica de Valparaíso.
            | Especialización en diseño de tienda, retal marketing y branding corporativo.
          i "Busco crear espacios habitables de forma integral y experiencial, cumpliendo con las necesidades de un exigente mercado".
  include ../elements/modal
