main.c-main
  section.c-proyectos
    h1.c-proyectos-title Proyectos
    section.c-proyectos-galery
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen1.webp", alt="algo")
          footer Pizzeria La Fermata
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen2.webp", alt="algo")
          footer Color Pastel
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen3.webp", alt="algo")
          footer Terraza Sibarita
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen4.webp", alt="algo")
          footer Dulce Dominga
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen5.webp", alt="algo")
          footer Dulce Pols
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen6.webp", alt="algo")
          footer Dulce y Miel
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen7.webp", alt="algo")
          footer Bar Friends
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen8.webp", alt="algo")
          footer Diseño de vitrina Detogni
      a(href="http://localhost:3000/")
        figure
          img(src="img/imagen9.webp", alt="algo")
          footer Hotel Gran Bretaña 21
