main.c-main
  section.c-proyectos
    h1.c-proyectos-title Proyectos
    section.c-proyectos-galery
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Pizzería")
          footer
            p Pizzería La Fermata
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Pastelería")
          footer
            p Pastelería Color Pastel
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Terraza")
          footer
            p Terraza Sibarita
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Dulcería")
          footer
            p Dulce Dominga
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="De Togni")
          footer
            p De Togni
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Bar")
          footer
            p Bar Friends
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Cafetería")
          footer
            p Cafetería Dulce y Miel
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Cafetería")
          footer
            p Cafetería La Caverna
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Departamento")
          footer
            p Asesoría en decoración integral depto Viña del Mar
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Óptica")
          footer
            p Óptica Italiana
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Hotel")
          footer
            p Hotel Gran Bretaña 21
      a(href="http://localhost:3000/")
        figure
          .proyectos-img
            img(src="http://placeimg.com/640/640/arch", alt="Pastelería")
          footer
            p Pastelería Dulce Pols
