main.c-main
  h1.c-servicios-title Servicios
  section.c-servicios
    figure.c-servicios-item1
      .c-servicios-description
        h2 Diseño Locales Comerciales
        p.cursiva Somos expertos en diseño de tiendas y remodelación de locales.
        li Modelado 3D.
        li Branding Corporativo.
        li Aplicación de marca en el espacio.
        li Supervisión de Obra.
        li Instalación de revestimientos.
        li Implementación de mobiliario.
        li Iluminación.
      .c-servicios-img
        img(src="img/diseno.jpg", alt="La Fermata")
    figure.c-servicios-item2
      .c-servicios-description
        h2 Asesoría en decoración integral
        p.cursiva Brindamos una mirada integral al diseño remodelación de tu espacio personal.
        li Diseño: iluminación, mobiliario, decoración, y revestimientos.
        li Asesoría.
        li Planificación.
        li Coordinación Compras.
        li Instalación de Proyecto.
      .c-servicios-img
        img(src="img/asesoria.jpg", alt="Departamento")
    figure.c-servicios-item1
      .c-servicios-description
        h2 Diseño de Hoteles
        p.cursiva Analizamos tu identidad corporativa para generar experiencias únicas en tus clientes
        li Diseño de planos.
        li Diseño de interior y equipamiento.
        li Coordinación de compra con proveedores.
        li Supervisión de obra.
      .c-servicios-img
        img(src="img/hoteles.jpg", alt="Hotel")
    figure.c-servicios-item2
      .c-servicios-description
        h2 Diseño de Vitrinas
        p.cursiva Comunicamos visualmente lo que tu marca quiere vender de forma innovadora y creativa
        li Diseño, producción y montaje de vitrinas
      .c-servicios-img
        img(src="img/vitrinas.jpg", alt="Vitrinas")
