main.c-main
  h1.c-servicios-title Servicios
  section.c-servicios
    figure.c-servicios-item1
      .c-servicios-description
        h2 Diseño Locales Comerciales
        p Expertos en diseño de tienda y remodelación de locales comerciales. Servicio de diseño de proyecto, modelado 3D, branding corporativo, aplicación de marca en el espacio,  supervisión de obra, instalación de revestimientos, implementación de mobiliario e iluminación.
        p El cliente puede descansar en el profesionalismo de nuestro trabajo.
      .c-servicios-img
        img(src="img/diseno.jpg", alt="La Fermata")
    figure.c-servicios-item2
      .c-servicios-description
        h2 Asesoría de decoración integral
        p Servicio de diseño de espacios con una mirada integral en base a iluminación, mobiliario, decoración y revestimientos en caso de que el cliente lo requiera. El servicio esta enfocado para casas o deptos piloto y viviendas particulares.
          | Nuestro servicio se basa en diseñar, asesorar, planificar, coordinar compras e instalacion del proyecto. La idea es entregarle de forma completa, llamado "llave en mano", el proyecto al cliente.
      .c-servicios-img-
        img(src="img/asesoria.jpg", alt="Departamento")
    figure.c-servicios-item1
      .c-servicios-description
        h2 Diseño de Hoteles
        p Diseño e implementación de hoteles boutique. Análisis de como generar experiencias a través del diseño de marca, identidad corporativa, asesoría en protocolos de servicio.
        p Diseño de planos y maqueta 3D, itemizado de compras, asistencia en obra, diseño de interior y equipamiento. Diseño e implementación de mobiliario, compra de materiales, relación con proveedores, implementación pensada bajo el código hotelero.
        p Asesoría en permisos de patentes.
      .c-servicios-img
        img(src="img/hoteles.jpg", alt="Hotel")
    figure.c-servicios-item2
      .c-servicios-description
        h2 Diseño de Vitrinas
        p Diseño, producción y montaje de vitrinas.
        p Comunicamos visualmente lo que la marca quiere vender de forma innovadora y delicada.
        p Diseñamos propuestas creativas que generan soluciones visuales para nuestros clientes.
        p Montaje de Stand y espacios promocionales.
      .c-servicios-img
        img(src="img/vitrinas.jpg", alt="Vitrinas")
