div.c-slider
  #slider.slider
    section.slider-section
      img(src="img/living.jpg", alt="Living")
    section.slider-section
      img(src="img/peluqueria.jpg", alt="Peluqueria")
    section.slider-section
      img(src="img/pieza.jpg", alt="Habitación")
  #btnPrev.btn-prev
    i.icon-left
  #btnNext.btn-next
    i.icon-right
