div.c-slider
  #slider.slider
    section.slider-section
      img(src="img/imagen1.webp", alt="algo")
    section.slider-section
      img(src="img/imagen2.webp", alt="algo")
    section.slider-section
      img(src="img/imagen3.webp", alt="algo")
    section.slider-section
      img(src="img/imagen4.webp", alt="algo")
    section.slider-section
      img(src="img/imagen5.webp", alt="algo")
    section.slider-section
      img(src="img/imagen6.webp", alt="algo")
    section.slider-section
      img(src="img/imagen7.webp", alt="algo")
    section.slider-section
      img(src="img/imagen8.webp", alt="algo")
    section.slider-section
      img(src="img/imagen9.webp", alt="algo")
    section.slider-section
      img(src="img/imagen10.webp", alt="algo")
    section.slider-section
      img(src="img/imagen11.webp", alt="algo")
  #btnPrev.btn-prev
    i.icon-up
  #btnNext.btn-next
    i.icon-up