div.c-slider
  #slider.slider
    section.slider-section.slider-img1
    section.slider-section.slider-img2
    section.slider-section.slider-img3
    section.slider-section.slider-img4
    section.slider-section.slider-img5
    section.slider-section.slider-img6
    section.slider-section.slider-img7
    section.slider-section.slider-img8
    section.slider-section.slider-img9
    section.slider-section.slider-img10
    section.slider-section.slider-img11
  #btnPrev.btn-prev
    i.icon-left
  #btnNext.btn-next
    i.icon-right
