// Paleta de colores

$colors:(
  primary: #0f0f0f,
  primary1: #232323,
  primary2: #333333,
  primary3: #454545,
  secondary: #ffe82c,
  bg: #e0e0e0,
  text: #a4a4a4,
  border: rgba(164, 164, 164, 0.502),
  alert: #ff2c2c,
  warning: #ff6f2c,
);