@mixin titulos{
  position: relative;
  z-index: 1;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  &::before{
    border-top: 2px solid black;
    width: 20%;
    top: 65%;
    right: 0;
    content: "";
    position: absolute;
    z-index: -1;
  }
}

@mixin sub-titulos{
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
